
.homeContainer {
  display: flex;
  flex-direction: column; /* Elemen diatur dalam kolom */
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

/* Hero Section */
.heroSection {
 
  background-size: cover; /* Gambar akan memenuhi kontainer */
  background-position: center; /* Gambar diatur di tengah */
  width: 118%;
  height: 620px; /* Tinggi Hero Section */
  display: flex;
  flex-direction: column; /* Konten vertikal */
  align-items: center;
  justify-content: center; /* Pusatkan teks secara vertikal */
  color: #ffffff;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  margin: 10px 0;
}

.searchBar {
  display: flex;
  margin-top: 20px;
}

.searchBar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.searchButton {
  padding: 10px 20px;
  border: none;
  background-color: #ff8c00;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

/* Card Section */
.cardSection {
  display: flex;
  justify-content: space-around; /* Jarak antar kartu */
  margin-top: 30px; /* Jarak dengan heroSection */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.card {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: #ffffff; /* Latar belakang kartu */
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  color: #666;
}
.contentSection {
  max-width: 800px;
  text-align: justify;
  background: #ffffff; /* Warna latar belakang konten */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Bayangan lembut */
}

.text {
  line-height: 1.8;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333; /* Teks utama */
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .text {
    font-size: 0.9rem;
  }
}
