
.materi-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  padding: 84px;
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f7b42c, #fc575e);
  min-height: 100vh; 
  color: #0b0505;
}


.materi-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.materi-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px; 
  width: 100%; 
  max-width: 1200px; 
}

.card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  backdrop-filter: blur(5px);
  text-align: left;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.25); 
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #190606;
}

@media (max-width: 1024px) {
  .card-grid {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .card-grid {
      grid-template-columns: repeat(1, 1fr); 
  }
  .materi-title {
      font-size: 2rem;
  }
  .materi-subtitle {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .card {
      width: 90%;
  }
}
