/* Kontainer Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease-in-out;
}

.sidebar.closed {
  width: 80px;
}

/* Ukuran logo saat sidebar terbuka */
.logo-container {
  width: 100%; /* Menyesuaikan lebar kontainer dengan sidebar */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease; /* Animasi transisi */
}

.logo {
  width: 70px; /* Ukuran logo besar */
  height: 90px;
  transition: all 0.3s ease; /* Animasi transisi ukuran logo */
}

/* Ukuran logo saat sidebar ditutup */
.sidebar.closed .logo-container {
  padding: 5px;
  margin-top: 60px; /* Kurangi padding untuk tampilan lebih kecil */
}

.sidebar.closed .logo {
  width: 40px; /* Ukuran logo kecil */
  height: 50px;
}

/* Tombol Toggle */
.toggle-btn {
  position: absolute;
  top: 20px;
  right: 0px; /* Geser tombol toggle sedikit ke kiri */
  background-color: #bf955d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 9px;
  border-radius: 50%;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-bottom: 40px;
  margin-right: 20px;
}

.toggle-btn:hover {
  background-color: #ebc899;
}

/* Menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
  text-align: left;
}

.sidebar-menu li {
  width: 100%;
}

.sidebar-menu a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-menu a:hover {
  background-color: #1abc9c;
  color: white;
}

/* Sembunyikan teks menu saat sidebar ditutup */
.sidebar.closed .sidebar-menu a {
  text-align: center;
  padding: 15px 0;
}
.sidebar.closed .sidebar-menu a {
  text-align: center;
  padding: 15px 0;
}
